doctype html
title Hyde Park Ice Pavilion - Contact
block styles
  link(rel="stylesheet" href="css/main.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Titillium+Web")

html
  include includes/header.pug
  include includes/nav.pug
  body
    h2 Contact
    include includes/footer.pug
    script(src="//instant.page/1.2.2" type="module" integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU")
