doctype html
title Hyde Park Ice Pavilion
block styles
  meta(name='title', content='Hyde Park Ice Pavilion')
  meta(name='description', content='Niagara Falls best youth hockey experience. Come join the fun at Hyde Park Ice Pavilion')
  meta(name='keywords', content="hockey, hockey rink, youth hockey, skating, parties, men's hockey, bantams, peewees, mites, hockey practice, shoot and skate")
  meta(name='robots', content='index, follow')
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(name='language', content='English')
  meta(name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
  link(rel="preconnect" href="https://fonts.gstatic.com/" crossorigin)

  link(rel="stylesheet" href="css/main.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Titillium+Web&display=swap")

  link(href="./js/main.polyfills.min.js" as="script")
  link(href="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQOtenloDbGYvTWv6t7FSoFcqlzPRQDwg&callback=initMap" as="script")

  html(lang="en")
  body
    main
      include includes/nav-container.pug
      include includes/home.pug
      include includes/programs.pug
      include includes/rent-ice.pug
      include includes/parties.pug
      include includes/contact.pug
      include includes/partners.pug

    script(src="//instant.page/1.2.2" type="module" integrity="sha384-2xV8M5griQmzyiY3CDqh1dn4z3llDVqZDqzjzcY+jCBCk/a5fXJmuZ/40JJAPeoU")
    script(src="./js/main.polyfills.min.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQOtenloDbGYvTWv6t7FSoFcqlzPRQDwg&callback=initMap"
      type="text/javascript")
