// colors
$tan: #e3c4a8;
$aqua: #4592af;
$blue: #226089;
$white: #ffffff;
$whiteBg: rgba(255, 255, 255, 0.9);
$black: #000000;

$header_font_size_mobile: 64px;
$header_font_size: 100px;
$text-shadow: 2px 3px 2px $black;
$shadow: 0 4px 32px 3px $black;

$bold: 600;
$mobile_padding: 20px 0;
$desktop_padding: 40px 0;
$regular_font: "Open Sans", sans-serif;
$header_font: "Titillium Web", sans-serif;

// media queries
$mobile: 480px;
$tablet: 800px;
$desktop: 1024px;
$xl: 1280px;
