/**
 * @section Base Styles
 */

@import "vars/_vars.scss";

html,
body {
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
  background: url("../img/hockey-bg.jpg") center / cover no-repeat;
  height: 100%;

  @media (min-width: $xl) {
    background-size: cover;
    height: auto;
  }
}

body {
  margin: 0 auto;
  font-family: $regular_font;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

main {
  margin: 0 auto;
  transform: translateY(0%);
  transition-timing-function: ease-out;
  transition: 0.2s;
  min-height: 100vh;

  &.opened {
    transform: translateY(0%);
    transition-timing-function: ease-in;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin-top: -285px;
    padding-top: 285px;
    display: inline-block;
  }

  section {
    padding: 20px;
    @media (min-width: $mobile) {
      padding: 40px;
    }

    > section {
      padding: 0;
      height: auto;
      min-height: 0;
    }
  }
}

ul {
  list-style: none;
  padding: 0;

  a {
    text-decoration: none;
    color: $white;
    display: inline-block;

    &::after {
      content: "";
      width: 0px;
      height: 2px;
      display: block;
      background: $whiteBg;
      transition: 300ms;
    }

    &:hover {
      transform: transition 0.2s ease-in;

      &::after {
        width: 100%;
      }
    }
  }
}
