.hamburger {
  &:hover {
    cursor: pointer;
  }
  .bar {
    width: 30px;
    height: 5px;
    background-color: $white;
    box-shadow: 0 1px 1px $black;
    border-radius: 20px;
    margin-top: 5px;
  }
  @media (min-width: $tablet) {
    display: none;
  }
}
