@import "vars/_vars.scss";

header {
  h1 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    color: $white;
    text-shadow: $shadow;
    font-size: $header_font_size_mobile;
    line-height: 1;
    font-weight: $bold;
    font-family: $header_font;
    padding: $mobile_padding;
    text-align: left;
    text-transform: uppercase;
    margin: 40px 0 0;

    @media (min-width: $tablet) {
      padding: $desktop_padding;
      font-size: $header_font_size;
    }

    span {
      display: block;
    }
  }
}
