.hidden {
  visibility: hidden;
  opacity: 0;
  display: none;
  // transition: opacity 0.3s cubic-bezier(0.61, -0.19, 0.7, -0.11);
}

.visuallyhidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.active {
  visibility: visible;
  display: block;
  // transition: opacity 0.3s cubic-bezier(0.61, -0.19, 0.7, -0.11);
}

.opened {
  display: flex;
}

// section.active {
//   margin-top: 150px;
//   &::before {
//     display: block;
//     content: " ";
//     margin-top: -175px;
//     height: 5px;
//     visibility: hidden;
//     pointer-events: none;
//   }
// }
