@import "vars/_vars.scss";

h2,
h3,
p {
  line-height: 1;
  margin-top: 0;
  color: $white;
  text-shadow: $text-shadow;
  font-size: 20px;
}

h2 {
  font-size: 40px;

  @media (min-width: $mobile) {
    font-size: 80px;
  }
}

h3 {
  font-size: 24px;

  @media (min-width: $mobile) {
    font-size: 40px;
  }
}

h4 {
  font-size: 20px;

  @media (min-width: $mobile) {
    font-size: 24px;
  }
}

h5 {
  font-size: 14px;

  @media (min-width: $mobile) {
    font-size: 20px;
  }
}
