@import "vars/_vars.scss";

h2,
h3 {
  line-height: 1;
  margin-top: 0;
}

h2 {
  font-size: 40px;
  text-shadow: $text-shadow;
  color: $white;

  @media (min-width: $mobile) {
    font-size: 80px;
  }
}

h3 {
  font-size: 20px;
  text-shadow: $text-shadow;
  color: $black;

  @media (min-width: $mobile) {
    font-size: 40px;
  }
}
