.logo {
  background: url("../img/sticks.svg") center / cover no-repeat;
  width: 110px;
  height: 85px;
  position: absolute;

  &.visuallyhidden {
    text-indent: -10000px;
  }

  &.mobile {
    right: 30px;
    top: 20px;
    display: block;

    @media (min-width: $tablet) {
      display: none;
    }
  }
}
