.map {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  margin-top: 60px;
  background-color: $whiteBg;
  padding: 30px;
  border-radius: 4px;

  @media (min-width: $tablet) {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
  }

  #map {
    height: 400px; 
    width: 100%;
    border: 2px solid $black;
  }

  .contact-information {
    margin-top: 20px;

    h3,
    p {
      color: $black;
      text-shadow: none;
    }
  }
}
