section#hockey(
  data-app="hockey"
)
  h2 Hockey Programs
  section.banner.info
    h3 Let's play hockey!
    img(
      src="/img/rink2.jpg" 
      alt="Hyde Park Ice Paviliion"
    )
    section.buttons
      a.button(href="/#programs") Learn to Skate
      a.button(href="/#mens-league") Men's League
      a.button(href="https://www.budbakewellicehawks.com/") Niagara Ice Hawks
    p We have many different options for Hockey players. From our learn to skate program to our Men’s leagues, Hyde Park has a place for your age and skill level.
    p Please click the option you would like to explore to take you to the information page for each rink offering.
  include footer.pug
