section.map
  #map

  .contact-information
    h3 Address:
    p 911 Robbins Road
    p NIAGARA FALLS, NY 14031
    p (716) 285-0715

  .directions
    a.visit-us.button(
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.google.com/maps/search/?api=1&query=Niagara Falls Ice Pavilion") Come Visit Us
