nav(class="mobile-nav hidden")
  h3 Hyde Park Ice Pavilion
  ul
    include close-button.pug
    each val in ['home', 'rent-ice', 'hockey', 'tournaments', 'parties', 'contact']
      li
        a(href=`${val}.html`)= val
