nav(class="desktop-nav")
  a.link(href="#home").logo.visuallyhidden Hyde Park Ice Pavilion Home
  ul
    each val in ['programs', 'rent-ice', 'hockey', 'tournaments', 'parties', 'contact']
      li
        a.link(href=`#${val}`)= val

