section#partners.hidden(
  data-app="partners"
)
  h2 Check out our Partners

  section.banner
    .partners
      .row
        div
          img(src="./img/FashionOutletsofNiagara.png" alt="Fashion Outlets of Niagara")
          a(href="https://www.fashionoutletsniagara.com") Fashion Outlets of Niagara
        div
          img(src="./img/Chill443.png" alt="Chill 443")
          a(href="https://www.chill443.com") Chill 443
      .row
        div
          img(src="./img/FarmersInsurance.png" alt="Farmers Insurance")
          a(href="https://agents.farmers.com/n  y/lewiston/paul-hutchins") Farmers Insurance
        div
          img(src="./img/GreaterNiagaraFCU.jpg" alt="Greater Niagara Federal Credit Union")
          a(href="https://www.greaterniagarafcu.com") Greater Niagara Federal Credit Union
      .row
        div
          img(src="./img/GreenPacMill.png" alt="Green Pac Mill Insurance")
          a(href="https://www.greenpacmill.com") Green Pac Mill Insurance
        div
          img(src="./img/MollenbergBetz.png" alt="Mollenberg-Betz")
          a(href="https://mollenbergbetz.com") Mollenberg-Betz
      .row
        div
          img(src="./img/NiagaraFallsStatePark.svg" alt="Niagara Falls State Park")
          a(href="https://www.niagarafallsstatepark.com") Niagara Falls State Park
        div
          img(src="./img/RainforestCafe.png" alt="Rainforest Café")
          a(href="https://www.sheratonatthefalls.com/rainforestcafe/") Rainforest Café 
      .row
        div
          img(src="./img/SteakStoneAndSushi.png" alt="Steak Stone & Sushi – Niagara Falls")
          a(href="https://steakstoneandsushi.com/divniagara-fall-ny/") Steak Stone & Sushi – Niagara Falls
        div
          img(  src="./img/Wegmans.jpg" alt="Wegmans")
          a(href="https://www.wegmans.com/stores/military-rd-ny.html") Wegmans
  
  include footer.pug
