section#parties(
  data-app="parties"
)
  h2 Parties
  section.banner.info
    h3 Party Central
    h4 Many Different Party Choices
    p The Hyde Park Ice Pavilion is a perfect place for any type of gathering. Birthday Parties, Graduations, Jack and Jill, Baptism, Bridal Showers and Weddings have all been major success.
    img(src="img/wedding.jpg" alt="Hyde Park Ice Pavilion Party")
    a.button(mailto="mike@niagaratournaments.com") Book a Party

  section.banner.info
    h3 JR Stone Room
    h4 Great times and great friends!
    p Come check out the JR Stone Room for our fabulous food and drink. Whether after your pick-up hockey game or stopping by for a bite to eat. JR Stone Room will provide you with a great atmosphere and excellent food and beverage.
    img(src="img/stoneroom.jpg" alt="JR Stone Room")
    a.button(href="https://www.jrstoneroom.com") JR Stone Room

  section.banner.info
    h3 Niagara Sports Tournaments
    h4 Best Youth Hockey Tournament experience in the Northeast!
    p Niagara Sports Tournaments has been presenting youth hockey tournament opportunities since 1990. We provide the best run youth hockey tournaments in the northeast to help provide youth hockey to hundreds of teams throughout the U.S. and Canada per year.
    img(src="img/niagara.jpg" alt="Niagara Sports Tournaments")
    a.button(href="https://www.niagaratournaments.com") Niagara Sports Tournaments
  include footer.pug
