section#rent-ice(
  data-app="rent-ice"
)
  h2 Rent Ice
  section.banner
    h3 Public Skating Hours
    p Fridays 9 P.M. - 11 P.M.
    p Saturdays 7:30 P.M. - 9:30 P.M.
    p Sundays 3:30 P.M. - 5:00 P.M.

  section.banner.info
    h3 Hyde Park Ice Pavilion
    img(src="img/rink.jpg")

    h4 Ice Rates
    p Summer $150
    p Fall/Winter $205
    p Non-Prime Time $160
    p Rent all the ice you would like, we offer a ton of ice rental options for pick up hockey and parties

    h4 Rental Directions

    p After clicking the button below you will be looking at the schedule for the rink. To adjust your view, hover your mouse over the words "Schedule" on the top left of the page. You can view the schedule by day, week or month. To change to a specific day, click on the calendar on the top left of the page.
    p Any time that is gray is available. Any time that is orange is booked. Any time that is Blue has recently become available. Both Rink 1 and Rink 2 are shown.
    p You can also book JR's Stoneroom here, the schedule is also shown.
    p If you have any questions or concerns, or need help with booking a time please give Mike Carella a call at 716-316-1526

    h5 WE ALSO OFFER INDIVIDUAL RATES FOR TRAINING PURPOSES. MORNING AND DAYTIME RENTALS ALSO AVAILABLE AT REDUCED RATE.

    a.rent-ice.button(target="_blank" rel="noopener noreferrer" href="https://tms.ezfacility.com/overview2.aspx?vouname=vohydepark&amp;vopassword=123456") Rent Ice Today

