section.rink-info
  h2 Learn about Hyde Park
  section.banner.info.hours
    section
      h3 Open Skate
      h4 Closed until further notice

  section.banner.info
    h3 Shoot And Skate
    h4 Closed until further notice

  section.banner.info
    h3 Hyde Park Ice Pavilion - Worth Visiting
    p Hyde Park Ice Pavilion was built in 1970 and recently has completed a 9 million dollar renovation. This included all locker rooms, ices surfaces, boards, bleaches, lobby, bar, and lounge.
    p With two brand new ice pads, J.R. Stoneroom bar and Lounge, Hyde Park Ice Pavilion has become a premiere rink in Western New York.

  section.banner.info
    h3 Come Join All The Fun At Hyde Park Ice Pavilion
    p Hyde Park is the Proud Home of the Niagara Ice Hawks, Hills Hockey Development, Niagara Falls and Grand Island hockey. In additions we have skaters of all different ages from our learn to skate programs all the way to our “senior” leagues. We also offer public skating Fridays through Sundays!
    p With space for up to 200 people we can hold many different events including birthday parties, graduation, and family reunions. Contact us at 716-285-0715 today.

  include footer.pug
