section.rink-info
  h2 Learn about Hyde Park
  section.banner.info
    h3 November Open Skate Fridays
    h4 Fridays
    p 11/1- 8:30pm- 10:20pm
    p 11/8- 7pm - 9pm
    p 11/15 7pm - 9pm
    h4 Saturdays
    p 11/2 6pm - 7:20pm
    p 11/9  6pm  - 8pm
    p 11/16 2pm - 4pm
    h4 Sundays
    p 11/3 3pm - 5pm
    p 11/10  3pm - 5pm
    p 11/17 1pm - 3pm
  section.banner.info
    h3 Shoot And Skate
    p Monday, Wednesday, & Friday 12:30 P.M. to 3:00 P.M.
    p Cost: $10.00

  section.banner.info
    h3 Hyde Park Ice Pavilion - Worth Visiting
    p Hyde Park Ice Pavilion was built in 1970 and recently has completed a 9 million dollar renovation. This included all locker rooms, ices surfaces, boards, bleaches, lobby, bar, and lounge.
    p With two brand new ice pads, J.R. Stoneroom bar and Lounge, Hyde Park Ice Pavilion has become a premiere rink in Western New York.

  section.banner.info
    h3 Come Join All The Fun At Hyde Park Ice Pavilion
    p Hyde Park is the Proud Home of the Niagara Ice Hawks, Hills Hockey Development, Niagara Falls and Grand Island hockey. In additions we have skaters of all different ages from our learn to skate programs all the way to our “senior” leagues. We also offer public skating Fridays through Sundays!
    p With space for up to 200 people we can hold many different events including birthday parties, graduation, and family reunions. Contact us at 716-285-0715 today.

  include footer.pug
