section.team
  .member
    img.card(src="img/mcarella.jpg")
    .name Mike Carella
    .title President
    a.email(mailto="info@niagaratournaments.com") info@niagaratournaments.com
  .member
    img.card(src="img/buckman.jpg")
    .name Rick Buckman
    .title Manager
  .member
    img.card(src="img/wylucki.jpg")
    .name Nick Wylucki
    .title Assistant Manager
    a.email(mailto="nwylucki@yahoo.com") nwylucki@yahoo.com
  .member
    img.card(src="img/hill.jpg")
    .name Jason Hill
    .title Marketing / Advertisment NST
    .title Owner - Hills Hockey Development
  .member
    img.card(src="img/gcarella.jpg")
    .name Gene Carella
    .title Owner


