section.team
  .member
    img.card(alt="Mike Carella - President" src="img/mcarella.jpg")
    .name Mike Carella
    .title President
    a.email(mailto="info@niagaratournaments.com") info@niagaratournaments.com
  .member
    img.card(alt="Rick Buckman - Manager" src="img/buckman.jpg")
    .name Rick Buckman
    .title Manager
  .member
    img.card(alt="Nick Wylucki - Assistant Manager" src="img/wylucki.jpg")
    .name Nick Wylucki
    .title Assistant Manager
    a.email(mailto="nwylucki@yahoo.com") nwylucki@yahoo.com
  .member
    img.card(alt="Jason Hill - Marketing / Advertising NST. Owner of Hills Hockey Development" src="img/hill.jpg")
    .name Jason Hill
    .title Marketing / Advertisment NST
    .title Owner - Hills Hockey Development
  .member
    img.card(alt="Gene Carella - Owner" src="img/gcarella.jpg")
    .name Gene Carella
    .title Owner


