.warning
  p The rink is closed until further notice due to COVID-19.
  p Please social distance yourself to help mitigate the spread of the virus and for more more details please check the CDC website.
  a(href="https://www.cdc.gov/coronavirus/2019-ncov/index.html") CDC Website
