.warning
  p The rink is closed until further notice due to COVID-19.
  p For more more details please check the CDC website.
  a(href="https://www.cdc.gov/coronavirus/2019-ncov/index.html") CDC Website
